.title-section-container {
  height: 448px;
  background: url("/src/banner_img/notice_banner.png") no-repeat center;
  background-size: cover;
}
.title-section-text {
  color: #fff9f9;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title-section-sl {
  font-size: 17px;
  margin-bottom: 28px;
}
.title-section-title-wrapper {
  display: flex;
  align-items: center;
}
.title-section-title {
  font-size: 41px;
  margin-right: 54px;
}
.title-section-line {
  height: 3px;
  width: 125px;
  background-color: #ffffff;
  border: solid 1px #707070;
  box-sizing: border-box;
}
