.title-section-container {
    height: 502px;
    background: url("/src/banner_img/moim_banner.jpg") no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title-section {
    color: #fff;
}
.title-section .subtitle {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2;
    border-bottom: 1px solid #fff;
    padding-bottom: 5.5px;
    margin-bottom: 28px;
}
.title-section .title {
    font-size: 41px;
    font-weight: 300;
    line-height: 1.2;
    margin-top: 31.5px;
}
