.text-input-container {
  margin-bottom: 8px;
}
.text-input-title {
  font-size: 14px;
  color: #707070;
  margin-bottom: 7px;
}
.text-input-form {
  width: 100%;
  box-sizing: border-box;
  display: block;
  border: none;
  border-radius: 8px;
  background-color: #f5f5f5;
  padding: 18px 12px;
  color: #b7b7b7;
  font-size: 14px;
}
