.text-input-container {
  margin-bottom: 8px;
}
.text-input-title {
  font-size: 20px;
  color: #707070;
}
.text-input-form {
  width: 100%;
  box-sizing: border-box;
  display: block;
  border: none;
  border-radius: 8px;
  background-color: #f5f5f5;
  padding: 24px 12px;
  color: #9e9e9e;
  font-size: 22px;
}
